@function set-text-color($color) {
    @if (lightness( $color) > 50) {
        @return black;
    }
    @else {
        @return white;
    }
}

@mixin transform() {
    transform: rotate(45deg);
}

@mixin color-background($color) {
    background-color: $color;
    color: set-text-color($color);
}